/* Import the Open Sans font from Google Fonts */

@import
 url(
'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'
);

:root {
  /* Primary colors */
  --color-primary: #8ab09e;
  --color-secondary: #BD8C6E;
  --color-tertiary: #C6A27E;
  --color-accent: #708F9F;
  --color-accent2: #7F9FBD;
  --color-accent3: #9FBDCC;
  --color-accent4: #bcd4df;

  /* Text colors */
  --color-text: #333333;
  --color-text-secondary: #647076;

  /* Background colors */
  --color-bg: #F2F2F2;
  --color-bg-secondary: #d3e7e2f1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: var(--color-bg);
  color: var(--color-text);
  margin-top: 4vh;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
}

h1{
  font-size: 6vh;
  color: var(--color-text);
  font-weight: 400;
  margin-bottom: 2vh;
}

h4{
  font-size: 3vh;
  color: var(--color-text-secondary);
  font-weight: 400;
  margin-bottom: 2vh;
  margin-top: 6vh;
}

ul{
  background: var(--color-bg-secondary);
  padding: 3vh;
  border-radius: 1vw;
  margin-bottom: 2.5vh;
  width: 85vw;
}

ul li{
  color: var(--color-text-secondary);
  margin: 1.5vh;
}

.standSummary{
  
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 3vh;
}

.standSummary li:first-child {
  position: relative;
  text-align: center; /* Center the text */
  list-style-type: none; /* Remove the bullet point */
  font-size: 2.5vh;
  font-style: italic;
}

.standSummary:hover{
  transform: scale(1.03);
  background-color: rgba(211, 234, 226, 0.7); 
}

.standSummary:hover .deleteStand{
  opacity: 1; 
}

.standSummary .deleteStand {
  color: var(--color-text);
  position: absolute;
  opacity: 0;
  right: 1vh; /* Add this to position it 5px from the right margin */
  bottom: 1vh;
  font-size: 1vh;
  width: 2vh;
  height: 2vh;
  background-color: #aabfb9f1;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-bar-container {
  display: flex;
  width: 90%;
}

.search-bar {
  flex: 1;
  display: flex;
  width: 40%;
  align-items: center;
  padding: 10px;
  margin-right: 2vh;
  background-color: var(--color-bg-secondary);
  border: none;
  border-radius: 1vw;
}

.search-bar-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.search-input {
  flex: 1;
  border: none;
  background-color: var(--color-bg-secondary);
}

.button {
  width: 40%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-secondary);
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}

.button:hover{
  /* transform: scale(1.03); */
  transition: 0.25s;
  background-color: rgba(211, 234, 226, 0.7); 
}

.button-logo {
  width: 3vh;
  height: 3vh;
  margin-right: 1vh;
}

.button-text{
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text-secondary);
}

.popup{
  position: fixed;
  top: 50%;
  left: 30%;
  width: 40%;
  height: 25vh;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vw;
  padding: 10vh;
  box-shadow: 0px 3px 24px var(--color-text);
  z-index: 10;
}

.closePopup{
  color: var(--color-text-secondary);
  position: absolute;
  right: 1vh; /* Add this to position it 5px from the right margin */
  bottom: 1vh;
  font-size: 1vh;
  width: 2vh;
  height: 2vh;
  background-color: #aabfb9f1;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createStand{
  border: none;
  bottom: 1vh;
  border-radius: 1vh;
  width: 30vw;
  background-color: #aabfb9f1;
}

.buttonCreate{
  position: inherit;
  bottom: 1vh;
  left: 1vh;
  width: 70px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-secondary);
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}